@page "/"
@using QuizBlazor.Models;

<PageTitle>Index</PageTitle>

@if (randomQuizzes != null && currentQuiz != null && randomQuizzes.Count() > 0)
{

    <MudGrid Class="flex-row-reverse">
        <MudItem xs="12" sm="2">
            <div class="d-flex">
                <MudPaper Style="text-align:center;color:#060;background-color:#f9f9f9;font-size:30px;" Width="57px" Height="64px">
                    <div style="margin-top:-7px">
                        <MudIcon style="height:14px;width:14px;" Icon="@Icons.Material.Filled.CheckCircleOutline"></MudIcon>
                    </div>
                    <div style="margin-top:-16px">
                        <span>@totalCorrect</span>
                    </div>
                    @*<MudIcon Color="Color.Success" Icon="@Icons.Material.Filled.CheckCircleOutline"></MudIcon>*@

                    
                </MudPaper>
                <MudPaper Style="text-align:center;color:#c33;background-color:#f9f9f9;font-size:30px;" Width="57px" Height="64px">
                    <div style="margin-top:-7px">
                        <MudIcon style="height:14px;width:14px;" Icon="@Icons.Material.Filled.HighlightOff"></MudIcon>
                    </div>
                    <div style="margin-top:-16px">
                        <span>@totalInCorrect</span>
                    </div>
                </MudPaper>
            </div>
        </MudItem>
        @if (!isAnswer)
        {
            <MudItem xs="12" sm="10">
                <MudText>Question @(currentQuesNumber + 1) of @maxQuestion</MudText>
                <MudText Class="d-inline-flex" Typo="Typo.h5">@currentQuiz.Question</MudText>
                <MudRadioGroup SelectedOptionChanged="@(new EventCallback<string>(this, OptionChanged))">

                    @for (var i = 0; i < shuffleAnswers?.Count(); i++)
                    {
                        var temp = shuffleAnswers[i];
                        <MudRadio Class="d-flex" Option="temp.IsCorrectNumber(i)"><MudMarkdown CodeBlockTheme="CodeBlockTheme.A11yLight" Value="@temp.Name" /></MudRadio>
                    }

                </MudRadioGroup>
            </MudItem>

        }
        else
        {
            <MudItem xs="12" sm="10">
                <MudText>Question @(currentQuesNumber + 1) of @maxQuestion</MudText>
                <MudText Class="d-inline-flex" Typo="Typo.h5">@currentQuiz.Question</MudText>
                <MudStack Row="false">
                    @if (selectedOption.Contains("False"))
                    {
                        <MudRadioGroup ReadOnly @bind-SelectedOption="selectedOption">
                            @for (var i = 0; i < shuffleAnswers?.Count(); i++)
                            {
                                var temp = shuffleAnswers[i];
                                @if (temp.IsCorrect)
                                {
                                    <MudRadio Color="Color.Success" Class="d-flex" Option="temp.IsCorrectNumber(i)">
                                        <MudMarkdown CodeBlockTheme="CodeBlockTheme.A11yLight" Value="@temp.Name" />
                                    </MudRadio>
                                }
                                else
                                {
                                    <MudRadio Disabled Color="Color.Error" Class="d-flex" Option="temp.IsCorrectNumber(i)"><MudMarkdown CodeBlockTheme="CodeBlockTheme.A11yLight" Value="@temp.Name" /></MudRadio>
                                }
                            }
                        </MudRadioGroup>
                        <AutoPlaySound Src="sound/incorrect.mp3" />
                        <MudText Color="Color.Error" Class="d-inline-flex" Typo="Typo.h5">Sorry, your answer is incorrect.</MudText>
                        <MudText Typo="Typo.h6" Color="Color.Dark">The correct answer is <MudMarkdown CodeBlockTheme="CodeBlockTheme.A11yLight" Value="@correctAnswer?.Name" /></MudText>
                    }
                    else if (selectedOption.Contains("True"))
                    {
                        <MudRadioGroup ReadOnly @bind-SelectedOption="selectedOption">
                            @for (var i = 0; i < shuffleAnswers?.Count(); i++)
                            {
                                var temp = shuffleAnswers[i];
                                @if (temp.IsCorrect)
                                {
                                    <MudRadio Color="Color.Success" Class="d-flex" Option="temp.IsCorrectNumber(i)">
                                        <MudMarkdown CodeBlockTheme="CodeBlockTheme.A11yLight" Value="@temp.Name" />
                                    </MudRadio>
                                }
                                else
                                {
                                    <MudRadio Disabled Class="d-flex" Option="temp.IsCorrectNumber(i)"><MudMarkdown CodeBlockTheme="CodeBlockTheme.A11yLight" Value="@temp.Name" /></MudRadio>
                                }
                            }
                        </MudRadioGroup>
                        <AutoPlaySound Src="sound/correct.mp3" />
                        <MudText Color="Color.Success" Class="d-inline-flex" Typo="Typo.h5">Correct.</MudText>
                    }
                </MudStack>
                <MudStack Row="false">
                    @if (currentQuesNumber == randomQuizzes.Count() - 1)
                    {
                        if (totalInCorrect >= totalCorrect)
                        {
                            <AutoPlaySound Src="sound/fail.mp3" />
                            <MudText Color="Color.Error" Typo="Typo.h4">You failed the quiz.</MudText>
                        }
                        else
                        {
                            <AutoPlaySound Src="sound/pass.mp3" />
                            <MudText Color="Color.Success" Typo="Typo.h4">You passed the quiz.</MudText>
                        }
                        <MudButton Variant="Variant.Filled" Style="max-width:fit-content;" StartIcon="@Icons.Material.Filled.Autorenew" Color="Color.Primary" OnClick="()=>Restart()">Restart</MudButton>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Filled" Style="max-width:fit-content;" StartIcon="@Icons.Material.Filled.ChevronRight" Color="Color.Info" OnClick="()=>NextQuestion()">Next Question</MudButton>
                    }
                </MudStack>

            </MudItem>

        }

    </MudGrid>

}
